name: Acquire Unity activation file
on:
  workflow_dispatch: {}
jobs:
  activation:
    name: Request manual Unity activation file
    runs-on: ubuntu-latest
    steps:
      # Request manual activation file
      - name: Request manual Unity activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
      # Upload artifact (Unity_v20XX.X.XXXX.alf)
      - name: Expose as artifact
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.getManualLicenseFile.outputs.filePath }}
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
          retention-days: 1